.section.section5 {
    background-color: var(--secondary);
    color: var(--primary)
}

.section.section5 .talk {
    position: absolute;
    left: 2em;
    top: 50%;
    transform: translate(-50%, -50%);
    font-weight: lighter;
    color: var(--tertiary);
    font-size: 10rem;
    font-family: "Gasoek One";
}

.section.section5 .contacts {
    position: absolute;
    right: 25%;
    top: 50%;
    transform: translate(50%, -50%);
}

.section.section5 .contacts .contactoption {
    display: flex;
    align-items: center;
}

.section.section5 .contacts .contactoption a {
    color: var(--primary);
    text-decoration: none;
    font-size: 3rem;
    margin-left: 1em;
    font-weight: bolder;
    position: relative;
    display: inline-block;
    text-shadow: 
        3px 3px 0 var(--secondary),
        -3px -3px 0 var(--secondary),
        3px -3px 0 var(--secondary),
        -3px 3px 0 var(--secondary),
        3px 0px 0 var(--secondary),
        -3px 0px 0 var(--secondary),
        0px 3px 0 var(--secondary),
        0px -3px 0 var(--secondary);
    z-index: 1; 
}

/* animation effect */
.section.section5 .contacts .contactoption a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 6px;
    bottom: 0;
    left: 0;
    background-color: var(--primary);
    transition: width 0.3s ease-in-out;
    bottom: 0; 
    z-index: -1; 
}

.section.section5 .contacts .contactoption a:hover::after {
    width: 100%;
}