.section.section1 .name {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-58%);
    width: 100%;
    text-align: center;
    font-size: 7rem;
    font-weight: lighter;
    font-family: "Gasoek One";
    line-height: 1;
}

.section.section1 .arrow-down {
    position: absolute;
    left: 50%;
    top: 90%;
    transform: translate(-50%, -50%);
    user-select: none;
    color: var(--secondary);
    text-decoration: none;
}